canvas {
    border: 1px solid;
}

.controls-wrapper {
    display: table;
    width: 400px;
}

#events {
    border: 1px solid;
    height: 150px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#events > li {
    display: table-row;
}

.controls {
    text-align: right;
}

#chat-form {
    display: flex;
}

#chat {
    width: 100%;
    margin-right: 5px;
}

#say {
    padding-left: 20px;
    padding-right: 20px;
}